<div
	class="page"
	ng-controller="ResgatesCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-include
		src="'#PATH_INCLUDES/resgates-filter.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50 mb-50"
		ng-if="!loaderReports && reports.length == 0"
		>
		<strong>Nenhum resgate encontrado!</strong>
	</div>

	<div
		class="table"
		ng-if="!loaderReports && reports.length"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td>
					<span>Nome</span>
				</td>
				<td class="bd-left-p2-3">
					<span>CPF</span>
				</td>
				<td class="bd-left-p2-3">
					<span>E-Mail</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Ticket Médio</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Premio Resgatado</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Dt. Aprovação</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Dt. Resgate</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Usuário Resgate</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Loja Resgate</span>
				</td>
<!--				<td class="bd-left-p2-3">
					<span>Promoção</span>
				</td>
 				<td class="bd-left-p2-3 action">
					<span>Ação</span>
				</td> -->
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in reports"
				>
				<td class="bd-p2-3">
					<span>{{item.userName}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.cpf | cpf}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.email}}</span>
				</td>
				<td class="bd-p2-3">
					<span>R$ {{item.averageSpend}}</span>
				</td>
				<td class="bd-p2-3">
					<span ng-class="{'tnt-trofeu': item.redeemDate != null}"></span>
				</td>
				<td class="bd-left-p2-3">
					<span>{{item.approvalDate | data_hora_timestamp }}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.redeemDate | data_hora_timestamp }}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.redeemUser}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.redeemStoreName}}</span>
				</td>
<!--				<td class="bd-p2-3">
					<span>{{item.promotionName}}</span>
				</td>
 				<td class="bd-p2-3 action">
					<a
						ng-href="{{'/resgates/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/detalhe/' + item.cpf}}"
						class="cl-p1-5"
						>
						Visualizar
					</a>
				</td> -->
			</tr>
		</table>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		ng-if="!loaderReports"
		ng-include
		src="'#PATH_INCLUDES/pagination.html'"
		>
	</div>

</div>
