<div
	class="page coupon"
	ng-controller="ResgatesDetailsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="filters bd-bottom-p2-2 cl-p2-6 mb-20">

		<div class="row mt-10 mb-10">
			<div class="user-block bd-bottom-p2-2">

				<div class="col-18 v-middle">
					<div class="col-8">
						<label class="label">
							<strong>Nome: </strong>{{$root.participant.name}}
						</label>
						<label class="label">
							<strong>CPF: </strong>{{$root.participant.cpf | cpf}}
						</label>
					</div>

					<div class="col-8">
						<label class="label">
							<strong>E-Mail: </strong>{{$root.participant.email}}
						</label>
						<label class="label">
							<strong>Total acumulado: </strong>{{$root.participant.cumulativeTotal | currency}}
						</label>
					</div>
				</div>

				<div
					ng-if="$root.participant.winner"
					class="col-6 v-middle winner-trophy"
					>
					<span class="tnt-trofeu cl-s1-5"></span>
					<span class="label-winner cl-s1-5">Ganhador</span>
					<span
						class="btn-winner-redeemed bd-radius"
						ng-class="{
							'cl-p2-1 bg-p1-5' : !$root.participant.redeemDate
							, 'cl-p1-5 bg-p2-2' : $root.participant.redeemDate
						}"
						>
						<checkbox
							name="redeemDate"
							ng-model="$root.redeemDate"
							ng-true-value="{{$root.participant.redeemDate}}"
							ng-false-value="null"
							ng-disabled="$root.redeemDate != null"
							ng-click="$root.participant.redeemDate ? false : premioResgatado($root.participant.userId)"
							>
							Resgatou o prêmio
							<span ng-if="$root.participant.redeemDate"> em {{$root.participant.redeemDate | data_timestamp}}</span>
						</checkbox>
					</span>
				</div>
			</div>

			<div class="col-12">
				<h2>
					Cupons da {{promo.title}}
					<label class="label small inline">
						no período de {{promo.startDate | data_timestamp}} até {{promo.endDate | data_timestamp}}
					</label>
				</h2>
			</div>

			<div class="col-7 left5 d-action">
				<div
					class="col-11 right0-5"
					ng-if="!$root.participant.redeemDate"
					>
					<btn
						success
						ng-click="toggleCouponQualify(true)"
						ng-disabled="transactionsList.length < 1"
						>
						Aprovar
					</btn>
				</div>

				<div
					class="col-11"
					ng-if="!$root.participant.redeemDate"
					>
					<btn
						error
						ng-click="toggleCouponQualify(false)"
						ng-disabled="transactionsList.length < 1"
						>
						Desaprovar
					</btn>
				</div>
			</div>

		</div>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50"
		ng-if="!loaderReports && !transactions"
		>
		<strong>Nenhum cupom encontrado!</strong>
	</div>

	<div
		ng-if="!loaderReports"
		block-group
		template="image-info"
		ng-repeat="item in transactions"
		data-json="{{item}}"
		class="col-6"
		ng-class="{
			'disable': item.elegible == false
		}"
		>
		<div class="bg-white pt-10 pb-10 pl-10 pr-10 ng-scope">
			<checkbox
				class="mb-10 d-action"
				name="cupons"
				ng-model="cupom"
				ng-value="item.id"
				ng-click="pushCouponTransaction(item)"
				ng-if="!$root.participant.redeemDate"
				>
				Selecionar
			</checkbox>

			<span
				class="tnt-visualizar"
				ng-click="modalShow(item)"
				>
			</span>

			<ul
				class="info-list"
				ng-click="modalShow(item)"
				>
				<li>
					<span class="tnt-calendario"></span>
					{{item.cupom_info[2].value}}
				</li>
				<li>
					<!-- <span class="tnt-money"></span> -->
					{{item.cupom_info[3].value}}
				</li>
				<li>
					<span ng-class="{
						'tnt-check2 cl-n-success': item.cupom_info[4].value == 'Sim'
						, 'tnt-close cl-n-error': item.cupom_info[4].value == 'Não'
					}"></span>
					{{item.cupom_info[4].value == 'Sim' ? 'Produto encontrado' : 'Produto não encontrado'}}
				</li>
			</ul>
		</div>
	</div>

</div>

<modal
	animate-control="modalControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModal()'
		, width: '1000'
		, height: '800'
	}"
	>

	<div class="col-24 acenter">
		<img ng-src="{{$root.modalInfo.image}}">
	</div>

	<div class="row">

		<div
			class="input-group-2 col-24 mt-10"
			ng-repeat="item in $root.modalInfo.cupom_info"
			>
			<span
				class="label-input bg-p2-2 cl-p2-6 {{item.label_class ? item.label_class : 'col-4'}}">
				{{item.label}}
			</span>
			<div class="input-field bd-p2-3 cl-p2-6 pl-10 {{item.value_class ? item.value_class : 'col-20'}}">
				{{item.value}}
			</div>
		</div>

		<div
			ng-if="$root.modalInfo.elegible && !$root.participant.redeemDate"
			class="col-24 mt-10 d-action"
			>
			<btn
				error
				ng-click="$root.toggleCouponQualify(false, $root.modalInfo.id)"
				>
				Desaprovar
			</btn>
		</div>

		<div
			ng-if="!$root.modalInfo.elegible && !$root.participant.redeemDate"
			class="col-24 mt-10 d-action"
			>
			<btn
				success
				ng-click="$root.toggleCouponQualify(true, $root.modalInfo.id)"
				>
				Aprovar
			</btn>
		</div>

		<div
			ng-if="!$root.modalInfo.hasFoundProducts && $root.modalInfo.elegible && !$root.participant.redeemDate"
			class="col-24 mt-10 d-action"
			>
			<btn
				success
				ng-click="toggleCouponProduct(true, $root.modalInfo.id)"
				ng-disabled="transactionsList.length < 1"
				>
				Caso o comprovante acima tenha o produto, favor confirmar aqui!!!
			</btn>
		</div>

		<div
			ng-if="$root.modalInfo.hasFoundProducts && $root.modalInfo.elegible && !$root.participant.redeemDate"
			class="col-24 mt-10 d-action"
			>
			<btn
				error
				ng-click="toggleCouponProduct(false, $root.modalInfo.id)"
				ng-disabled="transactionsList.length < 1"
				>
				Este cupom não possui o produto
			</btn>
		</div>

	</div>
</modal>
