<div
	class="page"
	ng-controller="IndicadoresVendasCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>


	<div class="col-24">
		<div
			ng-include
			src="'/common/includes/indicators-sales.html'"
			>
		</div>

	</div>

</div>
