	<form
		class="form-login animated bounceIn"
		ng-controller="AccessCtrl"
		ng-submit="$root.resetPassword(formData);"
		name="formData"
		novalidate
		>

		<div class="content-img"></div>

		<div class="content">

			<div
				id="logo-freepy"
				class="animated"
				>
			</div>

			<div class="input">
				<tnt-input-new-password placeholder="Nova senha"></tnt-input-new-password>
				<tnt-tooltip-password></tnt-tooltip-password>
				<span class="icon tnt-lock2"></span>
			</div>

			<tnt-error-password-invalid></tnt-error-password-invalid>

			<div class="input">
				<tnt-input-new-check-password placeholder="Confirmar nova senha"></tnt-input-new-check-password>
				<span class="icon tnt-lock2"></span>
			</div>

			<tnt-error-check-password-required></tnt-error-check-password-required>
			<tnt-error-check-password-match></tnt-error-check-password-match>

			<div>
				<tnt-input-submit
					class="bt"
					value="Confirmar"
					>
				</tnt-input-submit>

				<tnt-loader-login></tnt-loader-login>
			</div>

			<a
				href="http://ftccards.com.br"
				target="_blank"
				id="logo-ftccards"
				>
			</a>

		</div>

	</form>
