<div
	class="page coupon pb-100"
	ng-controller="Participants2DetailsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReasons"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50"
		ng-if="!loaderReasons && !transactions.length"
		>
		<strong>Nenhum cupom encontrado!</strong>
	</div>

	<form
		name="formCoupons"
		ng-submit="approveCoupons(formCoupons)"
		novalidate
		>
		<div
			ng-if="transactions.length"
			block-group
			template="image-info"
			ng-repeat="item in transactions"
			data-json="{{item}}"
			class="col-6"
			>
			<div
				class="top-flag"
				ng-class="{
					'bg-n-success': item.approved == true
					, 'bg-n-error': item.approved == false
					, 'bg-n-info': item.approved == null
				}"
				>
				{{item.approved == true ? 'Aprovado' : ''}}
				{{item.approved == false ? 'Desaprovado' : ''}}
				{{item.approved == null ? 'Sem Revisão' : ''}}
			</div>
			<div class="bg-white pt-10 pb-10 pl-10 pr-10">
				<span
					class="tnt-visualizar"
					ng-click="modalShow(item)"
					>
				</span>

				<ul
					class="info-list"
					ng-click="modalShow(item)"
					>
					<li>
						<span class="tnt-calendario"></span>
						{{item.submitionDate}}
					</li>
				</ul>

				<div class="col-15 v-middle aleft">
					<span>Cupom aprovado?</span>
				</div>
				<div class="col-8 v-middle aright">
					<div class="switch">
						<input
							type="checkbox"
							ng-model="item.approved"
							ng-checked="item.approved"
							ng-change="
								item.rejectReason = item.approved ? null : '';
								$root.formPristine = true;
							"
							ng-class="{
								'switch-null' : item.approved == null
							}"
							>
						<label>
							<span class="switch-true">Sim</span>
							<span class="switch-false">Não</span>
							<div></div>
						</label>
					</div>
				</div>

				<div class="form-group">
					<span
						class="error"
						ng-class="{
							'show-error': formSubmitted && (!item.approved && !item.rejectReason)
						}"
						>
						Motivo é obrigatório
					</span>
					<label class="select bd-p2-3 col-6 mt-10">
						<select
							name="rejectReason"
							ng-model="item.rejectReason"
							ng-disabled="item.approved"
							ng-required="!item.approved"
							ng-change="item.approved = false"
							>
							<option
								selected="selected"
								value=""
								>
								Selecione
							</option>
							<option
								ng-repeat="reason in $root.disaprovalReasons"
								value="{{reason.key}}"
								>
								{{reason.value}}
							</option>
						</select>
						<div
							class="before"
							ng-class="{
								'bg-p1-5': !item.approved
							}"
							>
						</div>
					</label>
				</div>

			</div>
		</div>

		<div class="fixed-button bd-p2-3">
			<div class="col-5">
				<btn
					success
					type="submit"
					ng-if="!loaderApproval"
					ng-disabled="!$root.formPristine"
					>
					Enviar
				</btn>
				<div
					ng-if="loaderApproval"
					class="mh-50"
					ng-include
					src="'#TRINITY_INCLUDES/loader.html'"
					>
				</div>
			</div>
		</div>

	</form>
</div>

<modal
	animate-control="modalControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModal()'
		, width: '1000'
		, height: '800'
	}"
	>

	<div class="col-24 acenter coupon-img bd-p2-3">
		<img ng-src="{{$root.modalInfo.image}}">

		<div class="btn-rotate">
			<span
				class="btn tnt-rotate-left"
				ng-click="$root.rotateImg(-90)"
				>
			</span>
			<span
				class="btn tnt-rotate-right"
				ng-click="$root.rotateImg(90)"
				>
			</span>
		</div>
	</div>

	<div class="row">

		<div class="col-11 right0-5 left0-5">
			<div
				class="input-group-2 mt-10"
				ng-repeat="item in $root.modalInfo.coupon_user_info"
				>
				<div class="input-field bd-p2-3 cl-p2-6 pr-10 {{item.value_class ? item.value_class : 'col-20'}}">
					{{item.value}}
				</div>
				<span
					class="label-input bg-p2-2 cl-p2-1 {{item.label_class ? item.label_class : 'col-4'}}"
					ng-class="{
						'bg-n-success' : item.value == $root.modalInfo.coupon_ocr_info[{{$index}}].value
						, 'bg-n-error' : item.value != $root.modalInfo.coupon_ocr_info[{{$index}}].value
					}"
					>
					{{item.label}}
				</span>
			</div>
		</div>

		<div class="col-11 right0-5 left0-5">
			<div
				class="input-group-2 mt-10"
				ng-repeat="item in $root.modalInfo.coupon_ocr_info"
				>
				<span
					class="label-input bg-p2-2 cl-p2-1 {{item.label_class ? item.label_class : 'col-4'}}"
					ng-class="{
						'bg-n-success' : item.value == $root.modalInfo.coupon_user_info[{{$index}}].value
						, 'bg-n-error' : item.value != $root.modalInfo.coupon_user_info[{{$index}}].value
					}"
					>
					{{item.label}}
				</span>
				<div class="input-field bd-p2-3 cl-p2-6 pl-10 {{item.value_class ? item.value_class : 'col-20'}}">
					{{item.value}}
				</div>
			</div>
		</div>

		<div class="col-15 right0-5 left0-5 v-middle pt-10 aleft">
			<span>Cupom aprovado?</span>
		</div>

		<div class="col-7 right0-5 left0-5 v-middle pt-10 aright">
			<div class="switch">
				<input
					type="checkbox"
					ng-model="$root.modalInfo.approved"
					ng-checked="$root.modalInfo.approved"
					ng-change="
						$root.modalInfo.rejectReason = $root.modalInfo.approved ? null : '';
						$root.formPristine = true;
					"
					ng-class="{
						'switch-null' : $root.modalInfo.approved == null
					}"
				>

				<label>
					<span class="switch-true">Sim</span>
					<span class="switch-false">Não</span>
					<div></div>
				</label>
			</div>
		</div>

		<div class="form-group col-23 right0-5 left0-5 mt-10">
			<!-- <span
				class="error"
				ng-class="{
					'show-error': formSubmitted && (!$root.modalInfo.approved && !$root.modalInfo.rejectReason)
				}"
				>
				Motivo é obrigatório
			</span> -->

			<label class="select bd-p2-3">
				<select
					name="rejectReason"
					ng-model="$root.modalInfo.rejectReason"
					ng-disabled="$root.modalInfo.approved"
					ng-required="!$root.modalInfo.approved"
					ng-change="$root.modalInfo.approved = false"
					>
					<option
						selected="selected"
						value=""
						>
						Selecione
					</option>
					<option
						ng-repeat="reason in $root.disaprovalReasons"
						value="{{reason.key}}"
						>
						{{reason.value}}
					</option>
				</select>

				<div
					class="before"
					ng-class="{
						'bg-p1-5': !$root.modalInfo.approved
					}"
					>
				</div>
			</label>
		</div>

	</div>

	<span
		class="fixed-button-nav prev"
		ng-click="$root.modalInfoPrev()"
		>
		<span class="tnt-arrow-left"></span>
		Anterior
	</span>
	<span
		class="fixed-button-nav next"
		ng-click="$root.modalInfoNext()"
		>
		Próximo
		<span class="tnt-arrow-right"></span>
	</span>

</modal>
