<div
	class="page"
	ng-controller="ProductsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-include
		src="'#PATH_INCLUDES/products-filter.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50 mb-50"
		ng-if="!loaderReports && reports.length == 0"
		>
		<strong>Nenhum dado encontrado!</strong>
	</div>

	<div
		class="table"
		ng-if="!loaderReports && reports.length && filters.type == 'products'"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td class="bd-left-p2-3">
					<span>Text</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Score</span>
				</td>
				<td class="bd-left-p2-3">
					<span>ProductGroup</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Excluded</span>
				</td>
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in reports"
				>
				<td class="bd-p2-3">
					<span>{{item.text}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.score}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.productGroup}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.excluded}}</span>
				</td>
<!-- 				<td class="bd-p2-3 action">
					<a
						ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
						class="cl-p1-5"
						>
						Visualizar
					</a>
				</td> -->
			</tr>
		</table>
	</div>



	<div
		class="table"
		ng-if="!loaderReports && reports.length && filters.type == 'productsnotfound'"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td class="bd-left-p2-3">
					<span>OriginalText</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Date (GMT)</span>
				</td>
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in reports"
				>
				<td class="bd-p2-3">
					<span>{{item.originalText}}</span>
				</td>
				<td class="bd-p2-3">
					<span ng-show="item.timeStamp">{{item.timeStamp | data_timestamp}} às {{item.timeStamp | hora_timestamp}}</span>
				</td>
<!-- 				<td class="bd-p2-3 action">
					<a
						ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
						class="cl-p1-5"
						>
						Visualizar
					</a>
				</td> -->
			</tr>
		</table>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		ng-if="!loaderReports"
		ng-include
		src="'#PATH_INCLUDES/pagination.html'"
		>
	</div>

</div>
