<div
	class="page"
	ng-controller="DetalhesEtapaCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="block-group col-24"
		ng-repeat="graph in graphs"
		ng-show="graphs.length > 0"
		>
		<section-title data-template="feature" bg-color="bg-p1-5">
			Etapa {{graph.Etapa}}
		</section-title>
		<chart-stack
			id="chartReport{{$index}}"
			data-json="graph"
			style="height: 470px"
			>
		</chart-stack>
	</div>
	<div
		class="block-group col-24"
		ng-show="graphs.length == 0"
		>
		<section-title data-template="feature" bg-color="bg-p1-5">
			Promoção sem detalhes de etapa.
		</section-title>
	</div>

</div>
