<div
	class="page"
	ng-controller="TopGanhadoresCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-include
		src="'#PATH_INCLUDES/topganhadores-filter.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50 mb-50"
		ng-if="!loaderReports && reports.length == 0"
		>
		<strong>Nenhum {{filters.type == 'all' ? 'participante' : 'ganhador'}} encontrado!</strong>
	</div>

	<div
		class="table"
		ng-if="!loaderReports && reports.length"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td class="bd-left-p2-3">
					<span>CPF</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Nome</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Email</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Telefone</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Estado</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Cidade</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Premios Distribuidos</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Milhas Ganhas</span>
				</td>
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in reports"
				>
				<td class="bd-p2-3">
					<span>{{item.cpf | cpf}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.Nome}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.Email}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.Telefone}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.UF}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.Cidade}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.EtapasAprovadas}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.MilhasGanhas | number}}</span>
				</td>
<!-- 				<td class="bd-p2-3 action">
					<a
						ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
						class="cl-p1-5"
						>
						Visualizar
					</a>
				</td> -->
			</tr>
		</table>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		ng-if="!loaderReports"
		ng-include
		src="'#PATH_INCLUDES/pagination.html'"
		>
	</div>

</div>
