.page.ganhe-mais {

	.block-group {
		&.block-image-info {
			.main {
				.image {
					img {
						vertical-align: top;
					}
				}
			}
		}
	}

}

.modal-coupon {
	.zoom-container {
		.zoomed {
			left: -100%;
		}
	}

	.modal-container {
		right: 5%;
		left: 5% !important;
		margin-top: 0%;
		margin-left: 0 !important;
		max-width: 100%;

		.coupon-img {
			width: 100%;
			text-align: center;
			max-width: 800px;
			max-height: 800px;
		}

	}

	input:focus {
		border-width: 2px;
	}

	button:focus {
		@include shadow(0 0 0px 2px #eec213);
	}

	.form-group {
		.error {
			&.show-error.content {
				z-index: 0;
			}
		}
	}

	.label-year {
		@include font-size(16px);
		margin-left: 5px;
	}
}

.countdown {
	position: absolute;
	z-index: 1;
	background: #fff;
	top: 1px;
	left: 7px;
	@include border-radius(7px 0);
	padding: 5px 10px;
	@include font-size(14px);
}
