.pb-100 {padding-bottom: 100px !important;}

.fixed-button-nav {
	position: absolute;
	bottom: 150px;
	@include font-size(20px);
	background: #fff;
	@include border-radius();
	padding: 10px 5px;
	cursor: pointer;
	@include transition();

	&:hover {
		&.prev {
			left: -150px;
		}
		&.next {
			right: -150px;
		}
	}

	&.prev {
		left: -130px;
	}
	&.next {
		right: -130px;
	}
}

.fixed-button {
	background: #fff;
	@include calc('width', '100% - 80px');
	padding: 20px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 8;
	text-align: center;
	@include shadow(0 0 20px #ccc);
}

.winner-trophy {
	text-align: center;

	.tnt-trofeu {
		@include font-size(30px);
		&:before {
			text-indent: -7px;
		}
	}

	.label-winner {
		display: block;
		margin: 0 0 15px;
	}

	.btn-winner-redeemed {
		display: block;
		padding: 13px 10px;

		.tnt-gift {
			@include font-size(17px);
			vertical-align: middle;
		}

		.checkbox {
			&:hover {
				.outer {
					border-color: #fff;
				}
				.checked {
					+ .outer {
						border-color: initial;
						@include border-radius(3px);

						.inner {
							background: rgb(114,124,130)
						}
					}
				}
			}

			.checked {
				+ .outer {
					color: rgb(114,124,130);

					.inner {
						background: rgb(114,124,130)
					}

					+ span {
						font-family: open_sansregular;
						color: rgb(114,124,130);
					}
				}
			}

			.outer {
				color: #fff;

				+ span {
					font-family: open_sansregular;
					color: #fff;
				}
			}
		}
	}
}

.user-block {
	border-bottom: 1px solid;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.block-group.block-image .main img {
	max-height: 165px;
	padding: 15px;
}


.cupom_approved {
	div {
		div {
			border-color: green;
			border-width: 2px !important;
		}
	}
}

.cupom_pending {
	div {
		div {
			border-color: yellow;
			border-width: 2px !important;
		}
	}
}

.cupom_repproved {
	div {
		div {
			border-color: red;
			border-width: 2px !important;
		}
	}
}


.page {
	&.export {
		.tnt-excel {
			&:before {
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}
	&.coupon {
		.block-group.block-image-info {
			.tnt-visualizar {
				opacity: 0;
				position: absolute;
				top: -220px;
				left: -5px;
				background: rgba(255, 255, 255, 0.9);
				width: 100%;
				height: 220px;
				line-height: 220px;
				cursor: pointer;
				@include transition();
			}
			&:hover {
				.tnt-visualizar {
					opacity: 1;
					@include font-size(27px);
				}
			}

			.top-flag {
				position: absolute;
				top: -240px;
				left: 0;
				padding: 10px;
				color: #fff;
				width: 100%;
				z-index: 1;
				opacity: 0.9;
			}

			label.checkbox {
				position: absolute;
				top: -240px;
				left: 0;
				background: rgba(241,184,52,0.9);
				color: #fff;
				width: 100%;
				text-align: left;
				padding: 10px;
				z-index: 1;
			}

			.main {
				.image {
					line-height: 24;

					img {
						height: initial;
						max-height: 100%;
					}
				}
			}
		}

		.info-list {
			text-align: left;
			li {
				margin: 5px 0 0;
			}
		}
	}

	.promo-list {
		.block-group.block-image {
			.main {
				img {
					// max-height: 165px;
					// padding: 15px;
					padding: 0;
					width: 100%;
					height: auto;
					max-height: initial;
				}
			}
		}
	}

}

.disable {
	.main {
		.image {
			opacity: 0.5;
		}

		&:after {
			content: 'Reprovado';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			@include font-size(17px);
			background: #d9534f;
			color: #fff;
			display: inline-block;
			width: 100%;
			padding: 5px 0;
			width: 200%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.d-action {
	display: none;
}

.coupon-img {
	border: 1px solid;
	@include border-radius();
	overflow: hidden;
	line-height: 0;
	max-width: 800px;
	max-height: 800px;
}

.btn-rotate {
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	@include border-radius(7px 0);
	text-align: center;

	.btn {
		width: 50px;
		height: 50px;
		line-height: 50px;
		color: #eec213;
		cursor: pointer;
		@include font-size(25px);

		&:before {
			line-height: 50px;
		}
	}
}
