$login-yellow: #f1b834;
$login-purple: #7f3995;

body {
	&.login {
		background: $login-purple url(../img/bg-login.png) 0 0 repeat;
	}
}

#cssload-wrapper {
	position: absolute;
	top: 0;
	height: 50px;
	@include border-radius(40px);
	overflow: hidden;
	display: none;
	width: 100%;

	&.visible {
		display: block;
	}

	#cssload-whitespace {
		@include border-radius(0);
		margin-top: 0;
	}

	#cssload-line {
		background: darken($login-yellow, 10%);
		opacity: 0.8;
	}
}

#logo-freepy {
	width: 194px;
	height: 117px;
	z-index: 1;
	background: url(../img/logo-freepy.png) center center no-repeat;
	margin: 0 auto 40px;
}

.form-login {
	width: 850px;
	position: absolute;
	left: calc(50% - (850px)/2);
	top: 50%;
	margin-top: -295px;
	font-size: 0;

	// .header {
	// 	@include border-radius(10px 10px 0 0);
	// 	@include font-size(18px);
	// 	color: #fff;
	// 	text-align: center;
	// 	height: 70px;
	// 	line-height: 70px;
	// 	font-family: 'open_sansbold';
	// 	position: relative;
	// 	&:after {
	// 		content: "";
	// 		display: inline-block;
	// 		width: 42px;
	// 		height: 39px;
	// 		position: absolute;
	// 		top: -19px;
	// 		left: calc(50% - 21px);
	// 	}
	// }

	.content-img {
		background: url('../img/login-freepy.png') 0 0 no-repeat;
		width: 435px;
		height: 495px;
		display: inline-block;
		vertical-align: top;
	}

	.content {
		display: inline-block;
		vertical-align: middle;
		padding: 30px 60px;
		@include calc('width', '100% - 435px');

		.input {
			@include border-radius(40px);
			border: 1px solid #e5e5e5;
			margin-bottom: 30px;
			padding: 3px;
			height: auto;

			.icon, input {
				@include border-radius(5px);
				border-width: 0;
				background: none;
				display: inline-block;
				height: 50px;
				line-height: 50px;
				vertical-align: top;
			}
			.icon {
				@include border-radius(50px);
				text-align: left;
				width: 50px;
				line-height: 55px;
				background: $login-yellow;
				color: #fff;
				@include font-size(20px);
				@include transition();
				position: absolute;
				left: 3px;
				top: 3px;
				z-index: 1;
				padding-left: 9px;
			}
			input {
				@include font-size(15px);
				color: #fff;
				width: 100%;
				padding: 0 20px 0 60px;
				text-indent: -40px;
				text-align: center;
				@include placeholder(#fff);
				font-family: 'open_sansregular';
				z-index: 2;
				@include border-radius(40px);

				&.active,
				&:focus {
					+ span {
						@include calc('width', '100% - 6px');
					}
				}
			}
		}

		[type="submit"] {
			@include border-radius(50px);
			@include font-size(18px);
			font-family: 'open_sansregular';
			background: $login-yellow;
			height: 50px;
			line-height: 50px;
			color: #fff;
			width: 100%;
			margin-bottom: 0;
			border: 0;

			&:hover {
				background: darken($login-yellow, 10%);
			}

			.icon-medidor {
				background: url('../img/icon-medidor.png') 0 0 no-repeat;
				width: 20px;
				height: 20px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.error,
		.error-password,
		.recuperar-senha {
			@include font-size(11px);
			font-family: 'open_sansregular';
			color: #fff;
			text-align: center;
			display: block;
		}

		.error-password,
		.error {
			position: relative;
			top: 0;
			left: 0;
			@include transform(initial);
			margin-bottom: 30px;

			&:before {
				font-family: 'open_sansbold';
				content: "X";
				color: #e34d3f;
				margin-right: 5px;
			}
		}

		.error-password {
			display: none;

			&.show-error {
				display: block;
			}
		}

		$login-check-size: 13px;

		label.checkbox,
		input[type="checkbox"] + span,
		input[type="checkbox"] + span::before {
			display: inline-block;
			vertical-align: top;
			text-align: right;
			position: relative;
			margin: 10px 0;
			width: 48%;
			line-height: 15px;
			font-family: 'open_sansregular';
			cursor: pointer;
			input,
			span {
				cursor: pointer;
			}
		}
		input[type="checkbox"] {
			@include opacity(0);
			position: absolute;
			& + span {
				@include font-size(12px);
				margin: 0;
				display: block;
				width: auto;
				color: #fff;
				&:before {
					content: " ";
					@include border-radius(3px);
					border: 1px solid $login-yellow;
					background: none;
					font-family: 'trinity';
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					margin-top: -3px;
					margin-right: 5px;
					width: $login-check-size;
					height: $login-check-size;
				}
			}
			&:checked {
				& + span {
					&:before {
						@include font-size(7px);
						content: "\EA02";
						background: $login-yellow;
						color: $login-purple;
						line-height: $login-check-size;
						text-align: center;
					}
				}
			}
		}

		.recuperar-senha {
			cursor: pointer;
			display: block;
			padding: 10px 0;

			&:hover {
				background: none;
				color: #18bbd9;
			}
		}

		#logo-ftccards {
			background: url(../img/logo-ftc.png) center center no-repeat;
			width: 73px;
			height: 46px;
			display: block;
			margin: 20px auto 0;
		}

	}

}
