.promotion-group-form{
	.border-error{
		border: 1px solid #d9534f;
	}
	select,input,textarea{
		.show-error {
			@extend .border-error;
		}
	}
	.drop-area {
		.thumbnail{
			height: 154px;
		}
	}

	.promotion-pass1{
		.coupons{
			&.show-error{
				@extend .border-error;
				padding: 10px;
			}
		}
		.angular-date-range-picker__input{
			&.show-error{
				@extend .border-error;
			}
		}
		#cnpj {
			&.show-error{
				@extend .border-error;
			}
		}
	}

	.promotion-pass2{
		.block-group {
			text-align: left;
			&.junte-e-ganhe{
				.content{
					margin: 15px 0;
				}
				.main{
					&.main{
						// padding: 20px 30px;
						.small{
							// width: 321px;
							// display: inline-block;
						}
					}
				}
			}
			.input-group-2{
				&.show-error{
					@extend .border-error;
				}
			}
			.required{
				.error{
					&.show-error.content{
						position: relative;
						text-align: left;
					}
				}
			}
			.permitted-days{
				&.show-error{
					@extend .border-error;
					padding: 5px 15px 15px 15px;
				    border-radius: 3px;
				}
			}
		}
	}
	.promotion-pass3{
		@extend .promotion-pass2;
		.mt-35{
			margin-top: 35px !important;
		}
		.page-title{
			height: 35px;
		}
		.thumbnail{
			height: 123px;
		}
	}
}
