.page {
	&.promocoes-qa {
		.block-group {
			&.block-image-info {

				.main {
					.image {
						height: auto;

						img {
							height: auto;
							margin-top: 40px;
						}
					}
				}

				.caption {
					display: block !important;
					animation: none;
				}

			}
		}
	}
}
