.simulador {
	padding: 30px;

	.iphone {
		width: 320px;
		height: 651.5px;
		background: url(../img/iphone-7-bg.png) 0 0 no-repeat;
		background-size: 100%;
		margin: 0 auto;
		padding: 76px 17px 76px 18.8px;

		.container {
			width: 100%;
			height: 100%;

			.header {
				height: 50px;
				text-align: center;

				.logo {
					display: inline;
					height: 100%;

					img {
					 	height: 35px;
					 	margin: 8px 0;
				 	}
				}
			}

			.content {
				padding: 10px;
				overflow-y: scroll;
				height: 450px;

				.label {
					margin: 10px 0 5px 0;
				}

				input {
					height: 35px;
					line-height: 35px;
				}

				span {

					&.label {
						margin: 10px 0 0 0;
					}

					&.show {
						@include font-size(14px);
					}
				}

				.gridproducts {
				    width: 242px;
				    height: 84px;
				    display: inline-flex;
				    left: 14px;
				    top: 15px;
					input {
						margin-left: 5px;
						margin-right: 5px;
					}
				    .liters {
				    	width: 50px;
				    }
				}
			}

			.footer {
				height: 50px;

				.col {
					display: inline-block;
					height: 50px;
					line-height: 50px;
					text-align: center;

					span {
						display: inline-block;
						height: 50px;
						line-height: 50px;
					}
				}
			}
		}
	}


	.cards {
		@include font-size(14px);
		margin-left: 30px;

		.bold {
			font-family: open_sansbold;
			font-weight: 700;
		}

		ul {
			font-size: 0;

			li {
				display: inline-block;
				width: 50%;
				padding: 5px 10px;
				@include font-size(14px);

				&.section-title {
					width: 100%;
					@include font-size(16px);
				}
			}
		}
	}

	.participations {
		margin-left: 30px;
	}

	.section-title, .section-subtitle {
		display: block;
		@include font-size(16px);
		font-family: open_sansbold;
		font-weight: 700;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-top: 20px;
	}

	.section-subtitle {
		border-bottom-style: dashed;
		@include font-size(16px);
		margin-left: 5px;
	}
}
