<div
	class="page"
	ng-controller="RobotsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<filter>
		<div class="col-8">
			<label class="label">Período</label>
			<div class="datepicker-box range">
				<div class="input-box">
					<date-range-picker
						ng-model="range"
						ranged="true"
						past-date="false"
						>
					</date-range-picker>
					<span
						class="icon tnt-calendario cl-p2-1 bg-p1-5"
						ng-click="dateRangePicker()"
						>
					</span>
				</div>
			</div>
		</div>

		<div class="col-3 left0-25 mt-40">
			<btn
				primary
				ng-click="getReports()"
				>
				Filtrar
			</btn>

			<btn
				link
				ng-click="initFilters()"
				>
				Limpar filtros
			</btn>
		</div>
	</filter>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div class="col-24">
		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div>

</div>
