<div
	class="page coupon"
	ng-controller="RegisterCtrl"
	>

	<h1 class="page-title bd-bottom-p2-2 mb-30 cl-p2-6">
		<span
			class="icon cl-p1-5"
			ng-class="currentItem.icon"
		></span>
		{{currentItem.label}}
		<a class="history-back cl-p2-6" href="javascript:history.back();">
			<span class="tnt-arrow-left"></span> Voltar
		</a>

		<div class="icon-buttons bottom-right">
			<button
				type="button"
				class="icon c-pointer tnt-excel"
				ng-init="hoverExport = false;"
				ng-mouseover="hoverExport = true"
				ng-mouseleave="hoverExport = false"
				ng-class="{
					'color-excel': hoverExport,
					'cl-p2-4': !hoverExport
				}"
				ng-click="openExcel()"
				>
				<span>Excel</span>
			</button>
		</div>
	</h1>

	<div
		ng-if="loaderUsers"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50 mb-50"
		ng-if="!loaderUsers && users.length == 0"
		>
		<strong>Nenhum cadastro encontrado!</strong>
	</div>

	<div
		class="table"
		ng-if="!loaderUsers && users.length"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td>
					<span>Data do Cadastro</span>
				</td>
				<td>
					<span>Nome</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Telefone</span>
				</td>
				<td class="bd-left-p2-3">
					<span>CPF</span>
				</td>
				<td class="bd-left-p2-3">
					<span>E-Mail</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Qtd de Participações Enviadas</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Qtd de Participações Aceitas</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Qtd de Participações Manipuladas</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Qtd de Prêmios Ganhos</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Qtd de Prêmios Resgatados</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Tecnologia (Android ou iOS)</span>
				</td>
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in users | orderBy:orderBy"
				>
				<td class="bd-p2-3">
					<span>{{item.date | data_hora_timestamp}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.userName}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.phone}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.cpf | cpf}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.email}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.sentTransactions}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.processedTransactions}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.changedTransactions}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.timesWins}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.timesRedeemed}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.device}}</span>
				</td>
			</tr>
		</table>
	</div>

	<div
		ng-if="!loaderUsers"
		ng-include
		src="'#PATH_INCLUDES/pagination.html'"
		>
	</div>

</div>
