<div
	class="page coupon"
	ng-controller="OCRCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50"
		ng-if="!loaderReports && !transactions"
		>
		<strong>Nenhum cupom encontrado!</strong>
	</div>

	<div
		ng-if="!loaderReports"
		block-group
		template="image-info"
		ng-repeat="item in transactions"
		data-json="{{item}}"
		class="col-6"
		>
		<div class="bg-white pt-10 pb-10 pl-10 pr-10 ng-scope">

			<span
				class="tnt-visualizar"
				ng-click="modalShow(item)"
				>
			</span>

			<ul
				class="info-list"
				ng-click="modalShow(item)"
				>
				<li>
					<span class="tnt-calendario"></span>
					{{item.cupom_info[0].value}}
				</li>
				<li>
					<span class="tnt-icone-smartphone"></span>
					{{item.cupom_info[2].value}}
				</li>
			</ul>
		</div>
	</div>

</div>

<modal
	animate-control="modalControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModal()'
		, width: '1000'
		, height: '800'
	}"
	>

	<div class="col-8">
		<label class="label">
			<strong>Usuário: </strong>{{$root.modalInfo.userName}}
		</label>
		<label class="label">
			<strong>Modelo: </strong>{{$root.modalInfo.deviceModel}}
		</label>
		<label class="label">
			<strong>OS: </strong>{{$root.modalInfo.osVersion}}
		</label>
		<label class="label">
			<strong>ocrTimeStamp: </strong>{{$root.modalInfo.ocrTimeStamp | data_hora_timestamp}}
		</label>
		<label class="label">
			<strong>promotionProcessTimeStamp: </strong>{{$root.modalInfo.promotionProcessTimeStamp | data_hora_timestamp}}
		</label>
		<label class="label">
			<strong>withChangesSentImages: </strong>{{$root.modalInfo.withChangesSentImages | bool}}
		</label>
	</div>

	<div class="col-16">
		<div class="col-10 aright">
			<label class="label">
				<strong>Validado pelo Usuário</strong>
			</label>
			<label class="label">
				{{$root.modalInfo.userValidatedDate | data_timestamp}}
			</label>
			<label class="label">
				{{$root.modalInfo.userValidatedCnpj | cnpj}}
			</label>
			<label class="label">
				{{$root.modalInfo.userValidatedCoo}}
			</label>
			<label class="label">
				{{$root.modalInfo.userValidatedTotal | currency}}
			</label>
		</div>

		<div class="col-4 acenter">
			<label class="label">
				<strong>&nbsp;</strong>
			</label>
			<label class="label">
				<strong>Data</strong>
			</label>
			<label class="label">
				<strong>CNPJ</strong>
			</label>
			<label class="label">
				<strong>COO</strong>
			</label>
			<label class="label">
				<strong>Total</strong>
			</label>
		</div>

		<div class="col-10 aleft">
			<label class="label">
				<strong>Encontrado pelo OCR</strong>
			</label>
			<label class="label">
				{{$root.modalInfo.ocrFoundDate | data_timestamp}}
			</label>
			<label class="label">
				{{$root.modalInfo.ocrFoundCnpj | cnpj}}
			</label>
			<label class="label">
				{{$root.modalInfo.ocrFoundCoo}}
			</label>
			<label class="label">
				{{$root.modalInfo.ocrFoundTotal | currency}}
			</label>
		</div>
	</div>

	<div class="row">

		<div
			ng-repeat="item in $root.modalInfo.results"
			class="block-group col-8 p-left0-25 p-right0-25"
			>
			<div class="bg-white bd-radius bd-1 bd-p2-3 pt-10 pb-10 pl-10 pr-10 ng-scope">
				<ul class="info-list aleft">
					<li>
						<label class="label">
							<strong>ID OCR: </strong>{{item.ocrId}}
						</label>
					</li>
					<li>
						<label class="label">
							<strong>Ferramenta: </strong>{{item.toolName}}
						</label>
					</li>
					<li>
						<label class="label">
							<strong>Tratamento: </strong>{{item.treatment}}
						</label>
					</li>
					<li>
						{{item.text}}
					</li>
				</ul>
			</div>
		</div>

	</div>
</modal>
