<div
	class="page"
	ng-controller="IndicatorsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<filter>
		<div class="col-6 left0-25">
			<label class="label">Tipo Relatório</label>
				<div class="select bd-p2-3 col-24">
					<select
						class="cl-p2-6"
						name="type"
						ng-model="filters.type"
						ng-change="filters.currentPage = 1; getReports()"
						>
						<option value="dayrly">por Dia</option>
						<option value="hourly">por Hora</option>
					</select>
					<div class="before bg-p1-5"></div>
				</div>
		</div>

		<div class="col-8 left0-25">
			<label class="label">Período</label>
			<div class="datepicker-box range">
				<div class="input-box">
					<date-range-picker
						ng-model="range"
						ranged="true"
						past-date="false"
						>
					</date-range-picker>
					<span
						class="icon tnt-calendario cl-p2-1 bg-p1-5"
						ng-click="dateRangePicker()"
						>
					</span>
				</div>
			</div>
		</div>

		<div class="col-3 left0-25 mt-40">
			<btn
				primary
				ng-click="getReports()"
				>
				Filtrar
			</btn>

			<btn
				link
				ng-click="initFilters()"
				>
				Limpar filtros
			</btn>
		</div>
	</filter>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reportTotal">
			<label class="left0-25">PARTICIPANTES(TOTAL, CUMULATIVO)</label>
		</div>

		<div
			block-group
			data-json="{{item}}"
			class="col-6 ml-0 mr-0"
			ng-repeat="item in reportTotal"
			>
		</div>

	</div>

	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reportTotal2">
			<label class="left0-25">PARTICIPAÇÕES(TOTAL E MÉDIAS, CUMULATIVO)</label>
		</div>

		<div
			block-group
			data-json="{{item}}"
			class="col-6 ml-0 mr-0"
			ng-repeat="item in reportTotal2"
			>
		</div>

		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div>

</div>
