<div
	class="page"
	ng-controller="BlacklistPromotionInserirCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="row">

		<form
			name="Form"
			novalidate
			>

			<div class="form-group filters bd-bottom-p2-5 no-border cl-p2-6">
				<div class="row">
					<div
						ng-if="$root.loaderPromotion"
						class="col-12 right12 mh-50"
						>
						<div
							ng-include
							src="'#TRINITY_INCLUDES/loader.html'"
							>
						</div>
					</div>

					<div class="col-6">
						<label class="label">CPF</label>
						<span
							class="error"
							ng-class="{'show-error content': !cpfFocus && formData && (Form.cpf.$error.mask || Form.cpf.$error.required || Form.cpf.$error.cpf)}"
							>
							CPF inválido
						</span>
						<span
							class="error"
							ng-class="{'show-error content': formData && Form.cpf.$error.required}"
							>
							Campo obrigatório
						</span>
						<input
							type="text"
							name="cpf"
							ng-model="user_blacklist.cpf"
							class="bd-p2-3"
							ng-cpf
							tnt-mask="999.999.999-99"
							ng-focus="cpfFocus = true"
							ng-blur="cpfFocus = false"
							required
						>
					</div>

					<div class="col-18 pl-20">
						<label class="label">Observação</label>
						<span
							class="error"
							ng-class="{'show-error content': formData && Form.reason.$error.required}"
							>
							Campo obrigatório
						</span>
						<input
							type="text"
							name="reason"
							ng-model="user_blacklist.reason"
							class="bd-p2-3"
							maxlength="255"
							required
						>
					</div>

				</div>
			</div>

		</form>

		<div class="row aright row-form">
			<div class="col-4">
			<btn
				primary
				icon-left="tnt-save"
				ng-click="insert(Form)"
				ng-disabled="loaderBlacklistPromotion"
				>
				Salvar
			</btn>
		</div>

	</div>
</div>
