<div
	class="page"
	ng-controller="UltimasTransacoesCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>


	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports">
			<label class="label">ÚLTIMAS PARTICIPAÇÕES</label>
		</div>
		<div
			class="table"
			ng-if="!loaderReports && reports.length"
			>
			<table>
				<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
					<td class="bd-left-p2-3">
						<span>CPF</span>
					</td>
					<td class="bd-left-p2-3">
						<span>TransactionId</span>
					</td>
					<td class="bd-left-p2-3">
						<span>TransactionType</span>
					</td>
					<td class="bd-left-p2-3">
						<span>PaymentMethod</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Elegible</span>
					</td>
					<td class="bd-left-p2-3">
						<span>FooterTitle</span>
					</td>
					<td class="bd-left-p2-3 ">
						<span>promotionProcessTimeStamp (GMT)</span>
					</td>
					<td class="bd-left-p2-3 ">
						<span>cupomDate (UTC)</span>
					</td>
					<td class="bd-left-p2-3 ">
						<span>+ info</span>
					</td>
				</tr>
				<tr
					class="cl-p1-7"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-1'"
					ng-repeat="item in reports"
					>
					<td class="bd-p2-3">
						<span>{{item.userValidatedFields.cpf}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.transactionId}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.transactionType}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.paymentMethod}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.elegible}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.footerTitle}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.promotionProcessTimeStamp | data_timestamp_utc }} às {{item.promotionProcessTimeStamp | hora_timestamp_utc }}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.userValidatedFields.date | data_timestamp_utc }} às {{item.userValidatedFields.date | hora_timestamp_utc }}</span>
					</td>
	<!-- 				<td class="bd-p2-3 action">$filter('data_timestamp')(value.statusCupomDate) +' às '+ $filter('hora_timestamp')(value.statusCupomDate)
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
					<td class="bd-p2-3">
						<span ng-click="$root.modalEditShow(item)" style="cursor: pointer;">Ver mais</span>
					</td>
				</tr>
			</table>
		</div>


	</div>



<!-- 	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reportTotal2">
			<label class="left0-25">PARTICIPAÇÕES(TOTAL E MÉDIAS, CUMULATIVO)</label>
		</div>

		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div> -->


</div>

<modal
	animate-control="modalEditControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModalLastTransactions()'
		, width: '1200'
	}"
	>
	<div class="col-24 acenter">
		<div class="show-inline bd-p2-3 visible">
			<pre>
			  {{$root.modalInfo | json}}
			</pre>
		</div>
	</div>

</modal>
