<div
	class="page coupon"
	ng-controller="ReParticipants2CardsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="acenter cl-p1-5 mt-50"
		ng-if="!loaderReports && !$root.cards.length"
		>
		<strong>Nenhum cartão encontrado!</strong>
	</div>

	<div
		ng-if="!loaderReports"
		block-group
		ng-repeat="item in cards"
		data-json={{item}}
		class="col-6"
		>
	</div>

</div>
