<div
	class="page"
	ng-controller="ReParticipants2Ctrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<filter>
		<div class="col-8 left0-25">
			<label class="label">
				<radio
					class="col-6 mt-0 mb-0"
					name="filter-field"
					value="cpf"
					ng-model="filters.searchField"
					>
					CPF
				</radio>
				<radio
					class="col-6 mt-0 mb-0"
					name="filter-field"
					value="email"
					ng-model="filters.searchField"
					>
					E-mail
				</radio>
			</label>

			<input
				class="bd-p2-3"
				type="text"
				maxlength="150"
				placeholder="Pesquise por {{filters.searchField}}"
				ng-model="filters.searchTerm"
				ng-keypress="getReportsByName($event);"
				>
		</div>

		<div class="col-3 left0-25 mt-40">
			<btn
				primary
				ng-click="getParticipants()"
				>
				Buscar
			</btn>

			<btn
				link
				ng-click="initFilters()"
				>
				Limpar filtros
			</btn>
		</div>
	</filter>

	<div
		class="acenter cl-p1-5 mt-50"
		ng-if="!loaderReports && reports.length == 0"
		>
		<strong>Nenhum {{filters.type == 'all' ? 'participante' : 'ganhador'}} encontrado!</strong>
	</div>

	<div
		class="table"
		ng-if="!loaderReports && reports.length"
		>
		<table>
			<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
				<td>
					<span>Nome</span>
				</td>
				<td class="bd-left-p2-3">
					<span>CPF</span>
				</td>
				<td class="bd-left-p2-3">
					<span>E-Mail</span>
				</td>
				<td class="bd-left-p2-3">
					<span>Prêmio Resgatado</span>
				</td>
				<td class="bd-left-p2-3 action">
					<span>Ação</span>
				</td>
			</tr>
			<tr
				class="cl-p1-7"
				ng-class-even="'bg-p2-2'"
				ng-class-odd="'bg-p2-1'"
				ng-repeat="item in reports"
				>
				<td class="bd-p2-3">
					<span>{{item.name}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.cpf | cpf}}</span>
				</td>
				<td class="bd-p2-3">
					<span>{{item.email}}</span>
				</td>
				<td class="bd-p2-3">
					<span ng-class="{'tnt-trofeu': item.redeemDate != null}"></span>
				</td>
				<td class="bd-p2-3 action">
					<a
						ng-href="{{'/reanalise-de-cupom/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.id}}"
						class="cl-p1-5"
						>
						Visualizar
					</a>
				</td>
			</tr>
		</table>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="pagination"
		ng-show="filters.amtPages > 1"
		ng-if="!loaderReports"
		>

		<div class="goto cl-p2-7">
			<span
				class="arrow left"
				ng-class="{
					'active cl-p1-5' : filters.currentPage > 1
					, 'cl-p1-3' : filters.currentPage == 1
				}"
				ng-click="previousPage();"
				>
			</span>
			Página
			<input
				type="number"
				class="bd-p2-2 cl-p2-7"
				ng-keypress="goToPage($event);"
				ng-model="filters.currentPage"
				>
			de {{filters.amtPages}}
			<span
				class="arrow right"
				ng-class="{
					'active cl-p1-5' : filters.currentPage < filters.amtPages
					, 'cl-p1-3' : filters.currentPage >= filters.amtPages
				}"
				ng-click="nextPage();"
				>
			</span>
		</div>

		<span class="amt-items cl-p2-7">{{filters.totalItems}} itens</span>

	</div>
</div>
