<form
	class="form-login animated bounceIn"
	ng-controller="AccessCtrl"
	ng-submit="$root.login();"
	name="formData"
	novalidate
	>

	<div class="content-img"></div>

	<div class="content">

		<div
			id="logo-freepy"
			class="animated"
			>
		</div>

		<div class="input">
			<tnt-input-login placeholder="Login"></tnt-input-login>
			<span class="icon tnt-user2"></span>
		</div>

		<div class="input">
			<tnt-input-password placeholder="Senha"></tnt-input-password>
			<span class="icon tnt-lock2"></span>
		</div>

		<tnt-error-login-password class="error"></tnt-error-login-password>

		<div>
			<tnt-input-submit
				class="bt"
				value="Entrar"
				>
			</tnt-input-submit>

			<tnt-loader-login></tnt-loader-login>
		</div>

		<div class="box-options acenter">
			<span
				class="acenter recuperar-senha"
				ng-click="lostPassword()"
				>
				Esqueci minha senha
			</span>
		</div>

		<a
			href="http://ftccards.com.br"
			target="_blank"
			id="logo-ftccards"
			>
		</a>

	</div>

</form>
