<div
	ng-controller="CouponAnalysis2Ctrl"
	class="h-100"
	>

<div class="page coupon ganhe-mais">

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="row">

		<tabmenu
			class="col-16 v-middle"
			template="content"
			data-json="tabMenuFilter"
			>
		</tabmenu>

		<div class="col-3 mt-15 v-top aright">
			<a
				class="link cl-p1-5 mt-15"
				ng-click="disableCupom = true; getCouponForAnalysis();"
				ng-disabled="reviewButton == 0 || disableCupom"
				ng-show="!loaderCoupon"
				>
				Revisar cupom
			</a>

			<div
				ng-if="loaderCoupon"
				ng-include
				class="mt-15"
				src="'#TRINITY_INCLUDES/loader.html'"
				>
			</div>
		</div>

		<div class="col-5 v-middle mt-15 aright">
			<span
				class="tnt-refresh ft-25 v-middle mr-15 c-pointer lh-0"
				title="Atualizar"
				ng-click="getCouponsTotals()"
				>
			</span>

			<span class="v-middle">Próxima atualização: </span>
			<span
				countdown
				class="v-middle"
				date="{{countdownUpdate}}"
				callback=""
				>
			</span>
		</div>
	</div>

	<div class="list-coupon bd-1 bd-radius bd-p2-3">

		<div
			ng-if="!loaderReports && reports.length"
			block-group
			template="image-info"
			ng-repeat="item in reports"
			data-json="{{item}}"
			class="col-6"
			>

			<div class="bg-white pt-10 pb-10 pl-10 pr-10">

				<span
					class="tnt-visualizar"
					ng-click="$root.modalShow(item)"
					>
				</span>

				<ul
					class="info-list"
					ng-click="$root.modalShow(item)"
					>

					<li ng-if="$routeParams.typeFilter == 'analyzing'">
						<span ng-class="item.cupom_info[2].value_class"></span>
						<strong>{{item.cupom_info[2].value}}</strong>
					</li>

					<li ng-if="$routeParams.typeFilter == 'analyzing'">
						<span ng-class="item.cupom_info[1].value_class"></span>
						Data da Análise: {{item.cupom_info[1].value}}
					</li>

					<li>
						<span ng-class="item.cupom_info[0].value_class"></span>
						Data da Transação: {{item.cupom_info[0].value}}
					</li>

					<li>
						<span ng-class="item.cupom_info[4].value_class"></span>
						Etapa Completada: {{item.cupom_info[4].value}}
					</li>

					<li ng-if="$routeParams.typeFilter == 'approved'">
						<span ng-class="item.cupom_info[2].value_class"></span>
						Aprovado por <strong>{{item.cupom_info[2].value}}</strong> em {{item.cupom_info[1].value}}
					</li>

					<li ng-if="$routeParams.typeFilter == 'disapproved'">
						<span ng-class="item.cupom_info[2].value_class"></span>
						Reprovado por <strong>{{item.cupom_info[2].value}}</strong> em {{item.cupom_info[1].value}} pelo motivo: {{item.cupom_info[3].value}}
					</li>

				</ul>
			</div>
				<!-- if (_.isEmpty($routeParams.filterCPF)) { -->
			<div class="col-24 mt-15 v-top" ng-if="!(_.isEmpty($routeParams.filterCPF))">
				<a
					class="link cl-p1-5 mb-15"
					ng-click="disableCupom = true; getCouponForAnalysis(item.id);"
					ng-disabled="reviewButton == 0 || disableCupom"
					>
					Revisar cupom
				</a>
			</div>

			<div class="col-24 mt-15 v-top">
				<a
					class="link cl-p1-5 mb-15"
					ng-href="/participantes/RAIZEN/{{item.promotionId}}/detalhe/{{item.userId}}/cartoes/{{item.cardId}}" target="_blank"
					 ng-show="item.cardId">
					+ participações
				</a>
				<a
					class="link cl-p1-5 mb-15"
					ng-href="/participantes/RAIZEN/{{item.promotionId}}/usuario/{{item.userId}}/" target="_blank"
					 ng-show="!item.cardId">
					+ participações
				</a>
			</div>

		</div>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		class="pagination mt-20"
		ng-show="filters.amtPages > 1 && !loaderReports"
		>

		<div class="goto cl-p2-7">
			<span
				class="arrow left"
				ng-class="{
					'active cl-p1-5' : filters.currentPage > 1
					, 'cl-p1-3' : filters.currentPage == 1
				}"
				ng-click="previousPage();"
				>
			</span>
			Página
			<input
				type="number"
				class="bd-p2-2 cl-p2-7"
				ng-keypress="goToPage($event);"
				ng-model="filters.currentPage"
				>
			de {{filters.amtPages | number}}
			<span
				class="arrow right"
				ng-class="{
					'active cl-p1-5' : filters.currentPage < filters.amtPages
					, 'cl-p1-3' : filters.currentPage >= filters.amtPages
				}"
				ng-click="nextPage();"
				>
			</span>
		</div>

		<span class="amt-items cl-p2-7">{{filters.totalItems | number}} itens</span>

	</div>
</div>

<modal
	animate-control="modalEditControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModalCouponAnalysis()'
		, width: '1200'
	}"
	class="modal-coupon"
	>

	<div
		ng-if="loaderCouponAnalyzed"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		ng-include
		src="'/common/includes/coupon-review-form.html'"
		>
	</div>

</modal>

<modal
	animate-control="$root.modalControl"
	animate-hide
	animate-in="bounceIn"
	animate-out="bounceOut"
	data-json="{
		closeClick: '$root.closeModal()'
		, width: '1000'
	}"
	>

	<div class="col-10 acenter">
		<div class="coupon-img show-inline bd-p2-3 visible">

			<zoom
				class="zoom-container"
				ng-style="{
					height : $root.windowHeight/2 + 'px'
				}"
				mark-height="200"
				mark-width="200"
				img="{{$root.modalInfo.image}}"
				zoom-lvl="2"
				>
			</zoom>

			<div class="btn-rotate">
				<span
					class="btn tnt-rotate-left"
					ng-click="$root.rotateImg(-90)"
					>
				</span>
				<span
					class="btn tnt-rotate-right"
					ng-click="$root.rotateImg(90)"
					>
				</span>
			</div>
		</div>

	</div>

	<div class="col-12 left2 content-panel">

		<p ng-if="$routeParams.typeFilter == 'analyzing'">
			<span ng-class="item.cupom_info[2].value_class"></span>
			{{$root.modalInfo.cupom_info[2].value}}
		</p>

		<p ng-if="$routeParams.typeFilter == 'analyzing'">
			<span ng-class="item.cupom_info[1].value_class"></span>
			Data da Análise: {{$root.modalInfo.cupom_info[1].value}}
		</p>

		<p>
			<span ng-class="item.cupom_info[0].value_class"></span>
			Data da Transação: {{$root.modalInfo.cupom_info[0].value}}
		</p>

		<p ng-if="$routeParams.typeFilter == 'approved'">
			<span ng-class="item.cupom_info[2].value_class"></span>
			Aprovado por {{$root.modalInfo.cupom_info[2].value}} em {{$root.modalInfo.cupom_info[1].value}}
		</p>

		<p ng-if="$routeParams.typeFilter == 'disapproved'">
			<span ng-class="item.cupom_info[2].value_class"></span>
			Reprovado por {{$root.modalInfo.cupom_info[2].value}} em {{$root.modalInfo.cupom_info[1].value}} pelo motivo: {{$root.modalInfo.cupom_info[3].value}}
		</p>
	</div>

	<span
		class="fixed-button-nav prev"
		ng-click="$root.modalInfoPrev()"
		>
		<span class="tnt-arrow-left"></span>
		Anterior
	</span>
	<span
		class="fixed-button-nav next"
		ng-click="$root.modalInfoNext()"
		>
		Próximo
		<span class="tnt-arrow-right"></span>
	</span>

</modal>
</div>
