<div
	class="page"
	ng-controller="PromotionStationsCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<filter>
		<div class="col-8">
			<label class="label">&nbsp;</label>
			<input
				type="text"
				placeholder="Pesquise por CNPJ"
				ng-model="filters.cnpj"
				ng-change="filters.currentPage = 1"
				ng-keypress="($event.charCode == 13) ? get_promotion_stations() : return;"
				class="bd-p2-3"
				tnt-mask="99.999.999/9999-99"
				ng-focus="cnpjFocus = true"
				ng-blur="cnpjFocus = false"
			>
		</div>
		<div class="col-3 left0-25">
			<label class="label">&nbsp;</label>
			<btn
				primary
				ng-click="get_promotion_stations()"
				ng-disabled="loaderListPromotionStations"
				>
				Buscar
			</btn>
			<btn
				link
				ng-click="init()"
				ng-disabled="loaderListPromotionStations"
				>
				Limpar filtros
			</btn>
		</div>
		<div class="col-8 pos-right aright">
			<label class="label">&nbsp;</label>
			<btn
				secondary
				inline
				ng-click="_.URL.path('/promocoes-cnpj/{{idPromo}}/novo/')"
				>
				Incluir CNPJ na Promoção
			</btn>
		</div>
	</filter>

	<div class="row">

		<div
			ng-if="loaderListPromotionStations"
			ng-include
			src="'#TRINITY_INCLUDES/loader.html'"
			>
		</div>

		<div
			class="col-24 acenter cl-p1-5 mt-30"
			ng-if="(!loaderListPromotionStations && !listPromotionStations.length)"
			>
			<strong>Nenhum registro encontrado!</strong>
		</div>

		<div
			table-list
			data-json="listPromotionStations"
			data-menu="[
				{
					'label' : 'CNPJ',
					'value' : 'cnpj'
				}
				, {
					'label' : 'Data inclusão',
					'value' : 'date'
				}
			]"
			data-list-action="listAction"
			>
		</div>

		<div
			class="pagination"
			ng-show="filters.amtPages > 1"
			ng-if="(!loaderListPromotionStations && listPromotionStations.length)"
			>

			<div class="goto cl-p2-7">
				<span
					class="arrow left"
					ng-class="{'active cl-p1-5' : filters.currentPage > 1, 'cl-p1-3' : filters.currentPage == 1}"
					ng-click="previousPage();"
				></span>
				Página
				<input
					type="number"
					class="bd-p2-2 cl-p2-7"
					ng-keypress="goToPage($event);"
					ng-model="filters.currentPage"
				>
				de {{filters.amtPages}}
				<span
					class="arrow right"
					ng-class="{'active cl-p1-5' : filters.currentPage < filters.amtPages, 'cl-p1-3' : filters.currentPage >= filters.amtPages}"
					ng-click="nextPage();"
				></span>
			</div>
			<span class="amt-items cl-p2-7">{{filters.totalItems}} itens</span>
		</div>

	</div>
</div>
