<div
	class="page export"
	ng-controller="ExportCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="row block-list promo-list">

		<div
			block-group
			class="col-6 c-pointer"
			ng-repeat="item in infoBlocks"
			ng-click="{{item.fnClick}}"
			data-json="{{item}}"
			>
		</div>

	</div>
</div>
