<div
	class="page"
	ng-controller="IndicadoresPerformanceCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports">
			<label class="label">INDICADORES PERFORMANCE</label>
		</div>
		<div
			ng-include
			src="'#PATH_INCLUDES/filter-excel.html'"
			>
		</div>
		<div
			class="table"
			ng-if="!loaderReports && reports.length"
			>
			<table>
				<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
					<td class="bd-left-p2-3">
						<span>PERFORMANCE PROMOÇÃO</span>
					</td>
					<td class="bd-left-p2-3" ng-repeat="(k, v) in semanas">
						<span>Sem {{k}}</span>
					</td>
				</tr>
				<tr
					class="cl-p1-7"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-1'"
					ng-repeat="(key, value) in registros"
					>
					<td class="bd-p2-3">
						<span>{{key}}</span>
					</td>
					<td class="bd-p2-3" ng-repeat="(key2, value2) in registros[key]">
						<span>{{value2}}</span>
					</td>
	<!-- 				<td class="bd-p2-3 action">
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
				</tr>
			</table>
		</div>

	</div>


	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

<!-- 	<div
		ng-if="!loaderReports"
		ng-include
		src="'#PATH_INCLUDES/pagination.html'"
		>
	</div> -->

</div>
