<div
	class="page"
	ng-controller="ComparativoPromocoesCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>


	<div class="col-24">
	<br><br><br><br><br>
	</div>

	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports3">
			<label class="label">EVOLUÇÃO CUPONS / DIA</label>
		</div>
		<chart-line
			id="chartReport3"
			data-json="chartReport3"
			style="height: 470px"
			>
		</chart-line>
	</div>


	<div class="col-24">
	<br><br><br><br><br>
	</div>

	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports4">
			<label class="label">GRÁFICO CPFs / DIA</label>
		</div>
		<chart-line
			id="chartReport4"
			data-json="chartReport4"
			style="height: 470px"
			>
		</chart-line>
	</div>

<!-- 	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reportTotal2">
			<label class="left0-25">PARTICIPAÇÕES(TOTAL E MÉDIAS, CUMULATIVO)</label>
		</div>

		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div> -->

</div>
