@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="<%= className %>-"]:before {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: -3px;
}

$fonticon-prefix: "<%= className %>-";
$fonticon-family: "<%= fontName %>";

<% _.each(glyphs, function(glyph) { %>
$fonticon-<%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
.<%= className %>-<%= glyph.name %>:before {
  content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>"
}
<% }); %>
