{{#sprites}}
.ico-{{name}} {
	background-image: url({{{escaped_image}}});
	background-position: {{px.offset_x}} {{px.offset_y}};
	width: {{px.width}};
	height: {{px.height}};
}
{{/sprites}}

@include tablet {
	{{#sprites}}
	.ico-{{name}} {
		background-position: ({{px.offset_x}}*0.75) ({{px.offset_y}}*0.75);
		@include background-size(({{total_width}}px*0.75) ({{total_height}}px*0.75));
		width: ({{px.width}}*0.75);
		height: ({{px.height}}*0.75);
	}
	{{/sprites}}
}
