<div
	class="page"
	ng-controller="SimuladorController"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="simulador">

		<div class="row acenter mb-20">

			<div
				ng-click="menu = 'simulator'; init();"
				ng-class="{'bg-p1-7': menu == 'simulator' || hoverSimulator}"
				ng-mouseover="hoverSimulator = true"
				ng-mouseleave="hoverSimulator = false"
				class="col col-5 cl-white c-pointer bg-p1-5 cl-p2-1 acenter pt-20 pb-20"
				>
				<span>Simulador</span>
			</div>

			<div
				ng-click="menu = 'extract'; extract_participations = false"
				ng-class="{'bg-p1-7': menu == 'extract' || hoverExtract}"
				ng-mouseover="hoverExtract = true"
				ng-mouseleave="hoverExtract = false"
				class="col col-5 cl-white c-pointer bg-p1-5 cl-p2-1 acenter pt-20 pb-20"
				>
				<span>Extrato</span>
			</div>

		</div>

		<div
			ng-if="menu == 'simulator'"
			class="iphone"
			>

			<div class="container">

				<div class="header bg-p1-8 cl-p2-1">
					<span class="logo">
						<img ng-src="{{$root.user.logo_client}}">
					</span>
				</div>

				<div
					class="content"
					ng-show="loaderSimulator && !result_transaction && !ErrorSend"
					>

					<h4 class="mt-50 mb-50 acenter">Aguarde...</h4>

					<div
						ng-include
						src="'#TRINITY_INCLUDES/loader.html'"
						>
					</div>
				</div>

				<!-- PASSO 1 -->
				<div
					class="content"
					ng-show="!loaderSimulator && !result_transaction && !ErrorSend"
					>

					<label class="label">CNPJ</label>
					<input
						class="bd-p2-3"
						ng-model="data.cnpj"
						type="text"
						tnt-mask="99.999.999/9999-99"
						>

					<label class="label">COO</label>
					<input
						class="bd-p2-3"
						ng-model="data.coo"
						type="text"
						maxlength="6"
						tnt-accept="number"
						>

					<label class="label">Total</label>
					<input
						class="bd-p2-3"
						ng-model="data.total"
						type="text"
						tnt-mask-money
						>

					<label class="label">Data AAAA-MM-DD HH:MM:SS</label>
					<input
						class="bd-p2-3"
						ng-model="data.date"
						type="text"
						tnt-mask="9999-99-99 99:99:99"
						>

					<label class="label">CPF</label>
					<input
						class="bd-p2-3"
						ng-model="data.cpf"
						type="text"
						tnt-mask="999.999.999-99"
						>

					<label class="label">Aplicar Bonus</label>
					<input
						class="bd-p2-3"
						ng-model="data.applyBonus"
						type="text"
						class="mb-20 show"
						>

					<label class="label">URL da cupom</label>
					<input
						class="bd-p2-3"
						ng-model="data.imageUrl"
						type="text"
						class="mb-20 show"
						>

					<label class="label">Método de pagamento</label>

					<div class="row-24">
						<div class="col-2">
							<input
								class="bd-p2-3"
								ng-model="data.paymentMethod"
								type="radio"
								class="mb-20 show"
								value="PAYPAL"
								ng-checked="data.paymentMethod == 'PAYPAL'"
							>
						</div>

						<div class="col-8 mt-10">
							<label>PayPal</label>
						</div>

						<div class="col-2">
							<input
								class="bd-p2-3"
								ng-model="data.paymentMethod"
								type="radio"
								class="mb-20 show"
								value="CUPOM_FISCAL"
							>
						</div>

						<div class="col-9 mt-10">
							<label>Cupom fiscal</label>
						</div>

						<div class="col-2">
							<input
								class="bd-p2-3"
								ng-model="data.paymentMethod"
								type="radio"
								class="mb-20 show"
								value="QR_CODE"
							>
						</div>

						<div class="col-9 mt-10">
							<label>QrCode</label>
						</div>
					</div>


					<label class="label">Produtos</label>
					<span ng-repeat="product in products">
						<checkbox
							class="col-15 ml-10"
							ng-model="products_checked[$index]"
							ng-init="products_checked[$index] = false"
							ng-change="add_remove_product($index)"
							>
							<label class="label">{{product.text}}</label>
						</checkbox>
								<div class="gridproducts">
								<label class="label">Liters:</label>
								<input
									class="bd-p2-3 liters"
									ng-model="products_quantity[$index]"
									ng-init="products_quantity[$index] = false"
									type="text"
									tnt-accept="number"
									>
								<label class="label">Subtotal:</label>
								<input
									class="bd-p2-3"
									ng-model="products_subtotal[$index]"
									ng-init="products_subtotal[$index] = false"
									type="text"
									tnt-mask-money
									>
								</div>
					</span>



					<btn
						class="mt-20"
						primary
						ng-click="send_transaction()"
						>
						Enviar
					</btn>
				</div>

				<!-- RESULTADO TRANSAÇÃO -->
				<div
					class="content content-panel"
					ng-show="result_transaction"
					>

					<span class="bold label">ID da transação</span>
					<span class="show">{{result_transaction.transactionId}}</span>

					<span class="bold label">Total de participações necessárias</span>
					<span class="show">{{result_transaction.totalNeededParticipations}}</span>

					<span class="bold label">Total de participações válidas</span>
					<span class="show">{{result_transaction.totalNeededParticipations}}</span>

					<span class="bold label">Status</span>
					<span class="show">{{result_transaction.status}}</span>

					<span class="bold label">Bônus ganho</span>
					<span class="show">{{result_transaction.bonusEarned}}</span>

					<span class="bold label">Pontos ganhos</span>
					<span class="show">{{result_transaction.pointsEarned}}</span>

					<span class="bold label">Ciclo atual</span>
					<span class="show">{{result_transaction.currentCycle}}</span>

					<span class="bold label">Status code</span>
					<span class="show">{{result_transaction.statusCode}}</span>

					<span class="bold label">Bônus da transação</span>
					<span class="show">{{result_transaction.bonusTransaction}}</span>

					<span class="bold label">Título da mensagem</span>
					<span class="show">{{result_transaction.footerTitle}}</span>

					<btn
						class="mt-20"
						primary
						ng-click="init();"
						>
						Nova transação
					</btn>
				</div>

				<!-- TRANSAÇÃO ERRO -->

				<div
					class="content"
					ng-show="ErrorSend"
					>

					<p><b>Status Code:</b> {{ErrorSend.status}}</p>
					<p><b>Código:</b> {{ErrorSend.data.code}}</p>
					<p><b>Mensagem:</b> {{ErrorSend.data.message}}</p>


					<btn
						class="mt-20"
						primary
						ng-click="tryAgain();"
						>
						Tentar novamente
					</btn>
				</div>

			</div>
		</div>

		<div
			class="content"
			ng-if="menu == 'extract'"
			>

			<div class="row acenter">
				<div class="col-10">
					<input
						class="bd-p2-3"
						ng-model="cpf_search"
						type="text"
						placeholder="CPF"
						class="mb-20 show"
						tnt-mask="999.999.999-99"
					>

					<btn
						class="mt-20"
						primary
						ng-click="getParticipations(cpf_search); cpf_search = ''"
						>
						Buscar
					</btn>
				</div>

			</div>


			<div
				class="content mt-40"
				ng-show="loaderExtratic"
				>

				<div
					ng-include
					src="'#TRINITY_INCLUDES/loader.html'"
					>
				</div>
			</div>


			<div
				class="acenter mt-20 cl-p1-5"
				ng-show="user_not_found"
				>
				Você não possui participações nessa promoção
			</div>

			<div
				class="response pt-50"
				ng-show="extract_participations"
				>

				<div class="col-3 left21">
					<btn
						class="mt-20"
						secondary
						ng-click="response_code = !response_code"
						>
						{{response_code ? 'TEXTO' : 'JSON'}}
					</btn>
				</div>

				<div ng-show="!response_code">

					<div class="row mt-40">
						<div class="col-12">
							<label class="label bold">ID da promoção</label>
							<span>{{extract_participations.promotionId}}</span>
						</div>

						<div class="col-12">
							<label class="label bold">Cíclo atual</label>
							<span>{{extract_participations.currentCycle}}</span>
						</div>

						<div class="col-8 acenter">
							<span class="label bold">Imagem do prêmio de participação</span>
							<img ng-src="{{extract_participations.participationPrizeImage}}">
						</div>

						<div class="col-8 acenter">
							<span class="label bold">Imagem do envio de participação</span>
							<img ng-src="{{extract_participations.participationSentImage}}">
						</div>

						<div class="col-8 acenter">
							<span class="label bold">Imagem de participação rejeitada</span>
							<img ng-src="{{extract_participations.participationRejectedImage}}">
						</div>


						<div
							class="cards"
							ng-repeat="cycle in extract_participations.cycles"
							>

							<label class="label section-title">Cíclo {{cycle.id}}</label>

							<div ng-repeat="card in cycle.cards">
								<ul>
									<label class="label section-subtitle">Passo {{$index+1}}</label>
								</ul>
								<ul>
									<li class="bold">Quantidade de participações aprovadas</li>
									<li>{{card.countApprovedParticipations}}</li>
								</tr>

								<ul>
									<li class="bold">Quantidade de participações rejeitadas</li>
									<li>{{card.countRejectedParticipations}}</li>
								</tr>

								<ul>
									<li class="bold">Quantidade de participações para ganhar</li>
									<li>{{card.needParticipationsToWin}}</li>
								</ul>

								<ul>
									<li class="bold">Data do último envio</li>
									<li>{{card.lastReceiptSent | date}}</li>
								</ul>

								<ul>
									<li class="bold">Data do primeiro envio</li>
									<li>{{card.firstReceiptSent | date}}</li>
								</ul>

								<ul>
									<li class="bold">Data final para completar</li>
									<li>{{card.finalDateToComplete | date}}</li>
								</ul>

								<ul>
									<li class="bold">Data de aprovação</li>
									<li>{{card.approvedDate | date}}</li>
								</ul>

								<ul>
									<li class="bold">Status</li>
									<li>{{card.status}}</li>
								</ul>

								<ul>
									<li class="bold">Data do resgate</li>
									<li>{{card.redeemDate | date}}</li>
								</ul>

								<ul>
									<li class="bold">Participações</li>
								</ul>

								<ul
									class="participations"
									ng-repeat="participation in card.participations"
									>
									<li class="bold section-title">Participações</li>

									<li class="bold">ID da transação</li>
									<li>{{participation.transactionId}}</li>

									<li class="bold">Data de cupom</li>
									<li>{{participation.cupomDate | date}}</li>

									<li class="bold">Data de envio</li>
									<li>{{participation.submitionDate | date}}</li>

									<li class="bold">Total</li>
									<li>{{participation.cupomTotal | currency:'R$ '}}</li>

									<li class="bold">Elegível</li>
									<li>{{participation.elegible}}</li>

									<li class="bold">Motivo de rejeição</li>
									<li>{{participation.rejectReason}}</li>

									<li class="bold">Bônus ganho</li>
									<li>{{participation.bonusEarned}}</li>

									<li class="bold">Bônus da transação</li>
									<li>{{participation.bonusTransaction}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
