<div
	ng-if="loaderCouponAnalyzed"
	class="mh-50"
	ng-include
	src="'#TRINITY_INCLUDES/loader.html'"
	>
</div>

<form
	ng-show="!loaderCouponAnalyzed"
	name="FormCoupon"
	novalidate
	>

	<div class="col-17 aright">
		<div class="countdown">
			Tempo de revisão:
			<span
				countdown
				date="{{dateCountdownAnalysis}}"
				callback="$root.closeModalCouponAnalysis()"
				>
			</span>
		</div>

		<div class="coupon-img show-inline bd-p2-3 visible">

			<!-- <zoom
				class="zoom-container"
				ng-style="{
					height : $root.windowHeight*0.75 + 'px'
				}"
				mark-height="200"
				mark-width="200"
				img="{{couponAnalyzing.imageUrl}}"
				zoom-lvl="2"
				>
			</zoom> -->

			<figure
				style="overflow-y: auto; overflow-x: hidden;"
				ng-style="{
					height : $root.windowHeight*0.75 + 'px'
				}"
				>
				<img ng-src="{{couponAnalyzing.imageUrl}}" alt="">
			</figure>

			<div class="btn-rotate">
				<span
					class="btn tnt-rotate-left"
					ng-click="$root.rotateImg(-90)"
					>
				</span>
				<span
					class="btn tnt-rotate-right"
					ng-click="$root.rotateImg(90)"
					>
				</span>
			</div>
		</div>

	</div>

	<div class="col-6 left1">

		<div ng-show="!$root.showRejectReasons">
			<div class="form-group col-24">
				<!-- <span
					class="error"
					ng-class="{'show-error content': formSubmitted && (FormCoupon.cnpj.$error.required || _.isEmpty(couponAnalyzing.ocr.cnpj)) && !$root.showRejectReasons}"
					>
					Campo obrigatório.
				</span>
				<span
					class="error"
					ng-class="{
						'show-error content': !cnpjFocus && (FormCoupon.cnpj.$error.mask || FormCoupon.cnpj.$error.cnpj)
					 && !$root.showRejectReasons}"
					>
					CNPJ inválido.
				</span> -->

				<label class="label">CNPJ</label>

				<div class="input-group">
					<span class="icon bg-p1-5 cl-p2-1">
						<span class="tnt-business"></span>
					</span>

					<input
						type="text"
						name="cnpj"
						class="bd-p2-3"
						ng-model="couponAnalyzing.ocr.cnpj"
						ng-focus="cnpjFocus = true"
						ng-blur="cnpjFocus = false;"
						tnt-mask="99.999.999/9999-99"
						disabled="disabled"
					>
						<!--
						tabindex="1"
						tnt-cnpj
						ng-required="!$root.showRejectReasons"
						-->
				</div>
			</div>

			<div class="form-group col-24">
				<span
					class="error"
					ng-class="{'show-error content': formSubmitted && FormCoupon.coo.$error.required && !$root.showRejectReasons}"
					>
					Campo obrigatório.
				</span>
				<span
					class="error"
					ng-class="{'show-error content': !cooFocus && !FormCoupon.coo.$pristine && FormCoupon.coo.$error.minlength && !$root.showRejectReasons}"
					>
					COO inválido.
				</span>

				<label class="label">COO</label>

				<div class="input-group">
					<span class="icon bg-p1-5 cl-p2-1">
						<span class="tnt-menu"></span>
					</span>

					<input
						type="text"
						name="coo"
						id="ocrcoo"
						class="bd-p2-3"
						ng-model="couponAnalyzing.ocr.coo"
						ng-focus="cooFocus = true"
						ng-blur="cooFocus = false;"
						tnt-accept="number"
						tabindex="1"
						ng-minlength="6"
						maxlength="{{(couponAnalyzing.imageUrl == 'https://s3.amazonaws.com/freepy-content/Paypal-Shell-300x141.png' ? '20' : '6')}}"
						ng-required="!$root.showRejectReasons"
						tnt-next-input="ocrdata"
					>
				</div>
			</div>

			<div class="form-group col-24">
				<span
					class="error"
					ng-class="{'show-error content': formSubmitted && (FormCoupon.date.$error.required || _.isEmpty(couponAnalyzing.ocr.date)) && !$root.showRejectReasons}"
					>
					Campo obrigatório.
				</span>
				<span
					class="error"
					ng-class="{'show-error content': !dateFocus && (FormCoupon.date.$error.data || FormCoupon.date.$error.dategreaterthantoday) && !$root.showRejectReasons}"
					>
					Data inválida.
				</span>

				<label class="label">Data</label>

				<div class="col-12 v-middle">
					<div class="input-group">
						<span class="icon bg-p1-5 cl-p2-1">
							<span class="tnt-calendario"></span>
						</span>

						<input
							type="text"
							id="ocrdata"
							name="date"
							class="bd-p2-3"
							ng-model="couponAnalyzing.ocr.date"
							ng-focus="dateFocus = true"
							ng-blur="dateFocus = false; $root.validateDate(FormCoupon, couponAnalyzing.ocr.date, couponAnalyzing.ocr.year);"
							tabindex="2"
							tnt-mask="99/99"
							ng-required="!$root.showRejectReasons"
							tnt-next-input="ocrano"
						>
					</div>
				</div>

				<div class="col-6 v-middle">
					<span class="label-year">
						<input
							type="text"
							id="ocrano"
							name="year"
							class="bd-p2-3"
							ng-model="couponAnalyzing.ocr.year"
							ng-focus="dateFocus = true"
							ng-blur="dateFocus = false; $root.validateDate(FormCoupon, couponAnalyzing.ocr.date, couponAnalyzing.ocr.year);"
							tabindex="3"
							tnt-mask="9999"
							tnt-next-input="ocrtotal"
							ng-value="{{year}}"
						>
					</span>
				</div>

			</div>

			<div class="form-group col-24">
				<span
					class="error"
					ng-class="{'show-error content': formSubmitted && FormCoupon.total.$error.required && !$root.showRejectReasons}"
					>
					Campo obrigatório.
				</span>
				<span
					class="error"
					ng-class="{'show-error content': formSubmitted && FormCoupon.total.$error.totalminvalue && !$root.showRejectReasons}"
					>
					Total inválido.
				</span>

				<label class="label">Total</label>

				<div class="input-group">
					<span class="icon bg-p1-5 cl-p2-1">
						<span class="tnt-money"></span>
					</span>
					<input
						type="text"
						name="total"
						id="ocrtotal"
						class="bd-p2-3"
						ng-model="couponAnalyzing.ocr.total"
						ng-focus="totalFocus = true"
						ng-blur="totalFocus = false;"
						tnt-mask-money
						tabindex="4"
						maxlength="12"
						ng-required="!$root.showRejectReasons"
					>
				</div>
			</div>

			<div class="from-group mt-20" ng-if="couponAnalyzing.date">
				<label class="label">Data da Transação: {{couponAnalyzing.date | data_timestamp}} às {{couponAnalyzing.date | hora_timestamp}}</label>
			</div>

			<div class="from-group mt-20" ng-if="couponAnalyzing.cardCompleteDate">
				<label class="label">Etapa completada: {{couponAnalyzing.cardCompleteDate | data_timestamp}} às {{couponAnalyzing.cardCompleteDate | hora_timestamp}}</label>
			</div>

			<div class="form-group col-24">
				<span
					class="error aleft"
					ng-class="{'show-error content': formSubmitted && FormCoupon.total.$error.products}"
					>
					Produto inválido.
				</span>
			</div>

			<div class="form-group mt-20" ng-if="couponAnalyzing.products && couponAnalyzing.products.length > 0">

				<label class="label">
					Produtos:
					<span
						ng-repeat="(key, value) in couponAnalyzing.products track by $index"
						class="mr-10"
						>
						{{value}}
					</span>
				</label>
			</div>

			<div class="form-group mt-20" ng-if="!couponAnalyzing.products || couponAnalyzing.products && couponAnalyzing.products.length == 0">

				<div class="col-24">
					Produtos: {{couponAnalyzing.productsNew}}
					<div class="col-6" ng-repeat="(key, value) in couponAnalyzing.promotionProducts track by $index" >
						<label>
<!-- 							<input type="checkbox" ng-model="couponAnalyzing.products" name="selectedFruits[]" value="{{value.text}}"> {{value.text}}
							 <input type="checkbox" checklist-model="couponAnalyzing.products" checklist-value="value.text"> {{value.text}} -->
							 <input type="checkbox" ng-model="couponAnalyzing.productsNew[value.text]" value="{{value.text}}"> {{value.text}}
<!-- 							<checkbox class="col-15 ml-10" ng-model="couponAnalyzing.productsNew[$index]" {{product.text}} </checkbox>
							<checkbox
								class="col-15 ml-10"
								ng-model="products_checked[$index]"
								ng-init="products_checked[$index] = false"
								ng-repeat="product in products"
								ng-change="add_remove_product($index)"
								>
								{{product.text}}
							</checkbox> -->
						</label>
					</div>
				</div>
			</div>

			<div class="buttons-group row mt-30">
				<div
					class="col-7 right2"
					ng-show="!_.isPath('reanalise-de-cupom')"
					>
					<btn
						error
						type="submit"
						ng-click="$root.showRejectReasons = true"
						>
						Reprovar
					</btn>
				</div>

				<div class="col-13 left1">
					<btn
						success
						ng-click="postCouponAnalyzed(FormCoupon, true)"
						type="submit"
						tabindex="4"
						id="aprovar"
						>
						Aprovar{{!_.isPath('reanalise-de-cupom') ? ' e Próximo' : ''}}
					</btn>
				</div>
			</div>

		</div>

		<div
			class="form-group"
			ng-show="$root.showRejectReasons"
			>

			<span
				class="error"
				ng-class="{'show-error content': formSubmitted && FormCoupon.reason.$error.required}"
				>
				Motivo de reprovação é obrigatório.
			</span>

			<label class="label">Motivo de Reprovação</label>

			<div class="col-24">

				<radio
					class="show"
					name="reason"
					ng-model="couponAnalyzing.reason"
					ng-repeat="item in $root.rejectReasons"
					value="{{item.key}}"
					ng-required="$root.showRejectReasons"
					>
					{{item.value}}
				</radio>
			</div>

			<div class="col-24">
				<div class="col-8 v-middle">
					<span
						class="link cl-p1-5"
						ng-click="$root.showRejectReasons = false"
						>
						Cancelar
					</span>
				</div>

				<div class="col-16 v-middle pl-10">
					<btn
						error
						type="submit"
						class="mt-10"
						ng-click="postCouponAnalyzed(FormCoupon, false)"
						>
						Confirmar Reprovação
					</btn>
				</div>
			</div>
		</div>

	</div>

</form>
