		<filter>

			<div class="icon-buttons bottom-right">
				<button
					type="button"
					class="icon c-pointer tnt-excel"
					ng-init="hoverExport = false;"
					ng-mouseover="hoverExport = true"
					ng-mouseleave="hoverExport = false"
					ng-class="{
						'color-excel': hoverExport,
						'cl-p2-4': !hoverExport
					}"
					ng-click="openExcel()"
					>
					<span>Excel</span>
				</button>
			</div>
		</filter>
