<div
	class="pagination"
	ng-show="filters.amtPages > 1"
	>

	<div class="goto cl-p2-7">
		<span
			class="arrow left"
			ng-class="{
				'active cl-p1-5' : filters.currentPage > 1
				, 'cl-p1-3' : filters.currentPage == 1
			}"
			ng-click="previousPage();"
			>
		</span>
		Página
		<input
			type="number"
			min="1"
			max="{{filters.amtPages}}"
			class="bd-p2-2 cl-p2-7"
			ng-keypress="goToPage($event);"
			ng-model="filters.currentPage"
			tnt-accept="number"
			>
		de {{filters.amtPages | number}}
		<span
			class="arrow right"
			ng-class="{
				'active cl-p1-5' : filters.currentPage < filters.amtPages
				, 'cl-p1-3'      : filters.currentPage >= filters.amtPages
			}"
			ng-click="nextPage();"
			>
		</span>
	</div>

	<span class="amt-items cl-p2-7">{{filters.totalItems | number}} itens</span>

</div>
