<filter>
	<div class="col">
		<label class="label">Filtrar por</label>
		<radio
			class="mt-10"
			name="filter-type"
			ng-model="filters.type"
			value="all"
			ng-change="range = ''; resetFilters(); getParticipants()"
			>
			Todos
		</radio>
		<radio
			class="mt-10"
			name="filter-type"
			value="winners"
			ng-model="filters.type"
			ng-change="range = ''; resetFilters(); getParticipants()"
			>
			Ganhadores
		</radio>
	</div>

	<div class="col-6 left0-25">
		<label class="label">Período</label>
		<div class="datepicker-box range">
			<div class="input-box">
				<date-range-picker
					ng-model="$parent.range"
					ranged="true"
					custom-select-options="rangeSelectOptions"
					>
				</date-range-picker>
				<span
					class="icon tnt-calendario cl-p2-1 bg-p1-5"
					ng-click="dateRangePicker()"
					>
				</span>
			</div>
		</div>
	</div>

	<div class="col-8 left0-25">
		<label class="label">
			<radio
				class="col-6 mb-0 mt-0"
				name="filter-field"
				value="cpf"
				ng-model="filters.searchField"
				ng-change="filters.searchTerm = ''"
				>
				CPF
			</radio>
			<radio
				class="col-6 mb-0 mt-0"
				name="filter-field"
				value="email"
				ng-model="filters.searchField"
				ng-change="filters.searchTerm = ''"
				>
				E-mail
			</radio>
			<radio
				class="col-6 mb-0 mt-0"
				name="filter-field"
				value="consumerid"
				ng-model="filters.searchField"
				ng-change="filters.searchTerm = ''"
				>
				ConsumerId
			</radio>
		</label>

		<input
			class="bd-p2-3"
			type="text"
			maxlength="14"
			placeholder="Pesquise por CPF"
			name="cpf"
			ng-model="filters.searchTerm"
			ng-keypress="getReportsByName($event);"
			tnt-mask="999.999.999-99"
			ng-if="filters.searchField == 'cpf'"
		>
		<input
			class="bd-p2-3"
			type="text"
			placeholder="Pesquise por E-mail"
			name="email"
			ng-model="filters.searchTerm"
			ng-keypress="getReportsByName($event);"
			maxlength="150"
			tnt-accept="[^0-9a-z@.]"
			ng-if="filters.searchField == 'email'"
		>
		<input
			class="bd-p2-3"
			type="text"
			placeholder="Pesquise por ConsumerId"
			name="consumerid"
			ng-model="filters.searchTerm"
			ng-keypress="getReportsByName($event);"
			maxlength="150"
			tnt-accept="[^0-9a-z@.]"
			ng-if="filters.searchField == 'consumerid'"
		>
	</div>

	<div class="col-3 left0-25 mt-40">
		<btn
			primary
			ng-click="resetFilters(); getParticipants();"
			>
			Buscar
		</btn>

		<btn
			link
			ng-click="initFilters()"
			>
			Limpar filtros
		</btn>
	</div>
</filter>
