<filter>
	<div class="col">
		<label class="label">Filtrar por</label>
		<radio
			class="mt-10"
			name="filter-type"
			ng-model="filters.type"
			value="products"
			ng-change="range = ''; resetFilters(); getParticipants()"
			>
			Produtos Cadastrados
		</radio>
		<radio
			class="mt-10"
			name="filter-type"
			value="productsnotfound"
			ng-model="filters.type"
			ng-change="range = ''; resetFilters(); getParticipants()"
			>
			Produtos não localizados
		</radio>
	</div>

<!-- 	<div class="col-6 left0-25">
		<label class="label">Período</label>
		<div class="datepicker-box range">
			<div class="input-box">
				<date-range-picker
					ng-model="$parent.range"
					ranged="true"
					custom-select-options="rangeSelectOptions"
					>
				</date-range-picker>
				<span
					class="icon tnt-calendario cl-p2-1 bg-p1-5"
					ng-click="dateRangePicker()"
					>
				</span>
			</div>
		</div>
	</div> -->

	<div class="col-8 left0-25">
<!-- 		<label class="label">
			<radio
				class="col-6 mb-0 mt-0"
				name="filter-field"
				value="cpf"
				ng-model="filters.searchField"
				ng-change="filters.searchTerm = ''"
				>
				CPF
			</radio>
			<radio
				class="col-6 mb-0 mt-0"
				name="filter-field"
				value="email"
				ng-model="filters.searchField"
				ng-change="filters.searchTerm = ''"
				>
				E-mail
			</radio>
		</label> -->
		<label class="label">
		&nbsp;
		</label>

		<input
			class="bd-p2-3"
			type="text"
			maxlength="100"
			placeholder="Pesquise por Palavra"
			name="text"
			ng-model="filters.searchTerm"
			ng-keypress="getReportsByName($event);"
		>
<!-- 		<input
			class="bd-p2-3"
			type="text"
			placeholder="Pesquise por E-mail"
			name="email"
			ng-model="filters.searchTerm"
			ng-keypress="getReportsByName($event);"
			maxlength="150"
			tnt-accept="[^0-9a-z@.]"
			ng-if="filters.searchField == 'email'"
		> -->
	</div>

	<div class="col-3 left0-25 mt-40">
		<btn
			primary
			ng-click="resetFilters(); getParticipants();"
			>
			Buscar
		</btn>

		<btn
			link
			ng-click="initFilters()"
			>
			Limpar filtros
		</btn>
	</div>
	<div class="icon-buttons bottom-right">
		<button
			type="button"
			class="icon c-pointer tnt-excel"
			ng-init="hoverExport = false;"
			ng-mouseover="hoverExport = true"
			ng-mouseleave="hoverExport = false"
			ng-class="{
				'color-excel': hoverExport,
				'cl-p2-4': !hoverExport
			}"
			ng-click="openExcel()"
			>
			<span>Excel</span>
		</button>
	</div>
</filter>
