<div
	class="row block-list promo-list"
	ng-controller="PromoListCtrl"
	>

	<div class="col-24 cl-p2-6 mt-20 mb-10 acenter">
		<label class="label small">Selecione a promoção que deseja clicando no box abaixo<!--  ou se preferir selecione 2 promoções para obter uma comparação -->.</label>
	</div>

	<div
		ng-if="loaderPromos"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>

	<div
		block-group
		data-template="image"
		data-conf="{
			header : {
				check : true
			}
			, main : {
				icon : 'tnt-megaphone'
				, class : ''
			}
		}"
		data-json="{{item}}"
		class="col-8"
		ng-repeat="item in listPromos"
		>
		<!--
		<checkbox
			ng-model="checkModel"
			ng-click="comparePromo(item.id)"
			ng-if="_.URL.path() == '/promocao/'"
			>
			Comparar
		</checkbox>
		-->
	</div>
</div>
