<div
	class="page"
	ng-controller="ParticipacoesEtapaCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div
		ng-if="loaderReports"
		class="mh-50"
		ng-include
		src="'#TRINITY_INCLUDES/loader.html'"
		>
	</div>


	<div class="col-24" ng-show="reports.length">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports">
			<label class="label">PARTICIPAÇÕES (CUPOM + ABASTECIMENTO VÁLIDO) POR ETAPA E POR STATUS</label>
		</div>
		<div
			class="table"
			ng-if="!loaderReports && reports.length"
			>
			<table>
				<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
					<td class="bd-left-p2-3">
						<span>Etapa</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Em Curso</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Em Moderação</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Expirado</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Reprovado</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Aprovado</span>
					</td>
					<td class="bd-left-p2-3 ">
						<span>Total</span>
					</td>
				</tr>
				<tr
					class="cl-p1-7"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-1'"
					ng-repeat="item in reports"
					>
					<td class="bd-p2-3">
						<span>Etapa {{item.Etapa}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.EmCurso | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.EmModeracao | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.Expirado | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.Reprovado | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.Aprovado | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{item.EmCurso + item.EmModeracao + item.Expirado + item.Reprovado + item.Aprovado | number}}</span>
					</td>
	<!-- 				<td class="bd-p2-3 action">
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
				</tr>
				<tr
					class="cl-p2-7 bd-left-p2-9"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-1'"
					>
					<td class="bd-p2-3 bg-p2-4">
						<span>Total</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['EmCurso'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['EmModeracao'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['Expirado'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['Reprovado'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['Aprovado'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-5 cl-p2-1">
						<span>{{totalreport1 | number}}</span>
					</td>
	<!-- 				<td class="bd-p2-3 action">
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
				</tr>
			</table>
		</div>

		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div>

	<div class="col-24" ng-show="reports.length">
	<br><br><br><br><br>
	</div>

	<div class="col-24" ng-show="reports.length">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reports">
			<label class="label">NUMERO DE GANHADORES, GANHADORES ÚNICOS E MILHAS DISTRIBUIÍDAS POR ETAPA</label>
		</div>
		<div
			class="table"
			ng-if="!loaderReports && reports2.length"
			>
			<table>
				<tr class="bg-p1-5 cl-p2-1 bd-left-p2-9 no-select">
					<td class="bd-left-p2-3">
						<span>Etapa</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Usuarios Em Em Moderacao</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Ganhadores</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Ganhadores Unicos</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Milhas Padrao</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Milhas (Bônus Shell Box)</span>
					</td>
					<td class="bd-left-p2-3">
						<span>Qtd Milhas (Bônus Smiles)</span>
					</td>
<!-- 					<td class="bd-left-p2-3">
						<span>Total Smiles</span>
					</td> -->
				</tr>
				<tr
					class="cl-p1-7"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-1'"
					ng-repeat="item in reports2"
					ng-init=""
					>
					<td class="bd-p2-3">
						<span>Etapa {{item.Etapa}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdUsuariosEmEmModeracao | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdGenhadores | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdGanhadoresUnicos | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdMilhasPadrao | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdMilhasShell | number}}</span>
					</td>
					<td class="bd-p2-3">
						<span>{{item.QtdMilhasSmiles | number}}</span>
					</td>
<!-- 					<td class="bd-p2-3 bg-p2-4">
						<span>{{item.QtdUsuariosEmEmModeracao + item.QtdGenhadores + item.QtdGanhadoresUnicos + item.QtdMilhasPadrao + item.QtdMilhasShell + item.QtdMilhasSmiles  | number}}</span>
					</td> -->
	<!-- 				<td class="bd-p2-3 action">
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
				</tr>
				<tr
					class="cl-p1-7"
					ng-class-even="'bg-p2-2'"
					ng-class-odd="'bg-p2-5'"
					>
					<td class="bd-p2-3 bg-p2-4">
						<span>Total Smiles</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdUsuariosEmEmModeracao'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdGenhadores'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdGanhadoresUnicos'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdMilhasPadrao'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdMilhasShell'] | number}}</span>
					</td>
					<td class="bd-p2-3 bg-p2-4">
						<span>{{total['QtdMilhasSmiles'] | number}}</span>
					</td>
<!-- 					<td class="bd-p2-3 bg-p2-5 cl-p2-1">
						<span>{{totalreport2 | number}}</span>
					</td> -->
	<!-- 				<td class="bd-p2-3 action">
						<a
							ng-href="{{'/participantes/' + $routeParams.typePromo + '/' + $routeParams.idPromo + '/usuario/' + item.userId}}"
							class="cl-p1-5"
							>
							Visualizar
						</a>
					</td> -->
				</tr>
			</table>
		</div>

		<chart-line
			id="chartReport2"
			data-json="chartReport2"
			style="height: 470px"
			>
		</chart-line>
	</div>

	<div
		class="block-group col-24"
		ng-show="!loaderReports && !reports"
		>
		<section-title data-template="feature" bg-color="bg-p1-5">
			Promoção sem participações de etapa.
		</section-title>
	</div>


<!-- 	<div class="col-24">
		<div class="col-24 col-6 ml-0 mr-0" ng-show="reportTotal2">
			<label class="left0-25">PARTICIPAÇÕES(TOTAL E MÉDIAS, CUMULATIVO)</label>
		</div>

		<chart-line
			id="chartReport"
			data-json="chartReport"
			style="height: 470px"
			>
		</chart-line>
	</div> -->

</div>
