<div
	class="page"
	ng-controller="HomeCtrl"
	>

	<div
		ng-include
		src="'#TRINITY_INCLUDES/main-title.html'"
		>
	</div>

	<div class="col-24 cl-p2-6 mt-20 mb-10 acenter">
		<label class="label large">
			Olá <span class="cl-p1-5">{{user.firstName}}</span>, seja bem vind{{user.gender == 0 ? 'o' : 'a'}} ao painel do Freepy.
		</label>
	</div>

</div><!-- .page -->
